.Name {text-align: center; position:absolute;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
color: aqua; background-color:aqua;}
.references{text-align:center; padding: 1px; background-color: (9, 11, 11);  position:sticky; background-color:blue; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border-style:solid; border-width: 5px;} 
  
.logo {
  
  background:aqua ;
  margin-left: 650px;
  margin-top: 100px;
  position: relative;
  height: 300px;
}

.mepic {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
    .logotwo{background-image: url("https://img.craiyon.com/2024-02-02/R2gxjN3dTmiFbmvxSpgSTQ.webp"); height: 300px;}
    .h1 { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;}
    .aboutme {position:absolute; text-align: center; font-size:xx-small; padding: 5px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 400px;
        height: 20px;
        padding: .1px;
        margin-bottom: 50px;
      }
      .footuh {background-color: blue; color:blue; text-align:center ; border-style: solid; border-width: 5px; border-color:black;}
.song {margin-bottom: 30px; position: relative; margin-left: 30px; }